<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.base.dao.resource.ResourceInfoMapper">
  <resultMap id="BaseResultMap" type="com.yf.base.model.resource.ResourceInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="LINK_MAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="LINK_PHONE" jdbcType="VARCHAR" property="linkPhone" />
    <result column="LOCATION_X" jdbcType="VARCHAR" property="locationX" />
    <result column="LOCATION_Y" jdbcType="VARCHAR" property="locationY" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_ORGAN_ID" jdbcType="INTEGER" property="createOrganId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="INTEGER" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_TIME" jdbcType="DATE" property="lastUpdateTime" />
    <result column="ACTIVE" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, TYPE, LINK_MAN, LINK_PHONE, LOCATION_X, LOCATION_Y, ADDRESS, NOTE, CREATE_USER_ID, 
    CREATE_ORGAN_ID, CREATE_TIME, LAST_UPDATE_USER_ID, LAST_UPDATE_TIME, ACTIVE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yf.base.model.resource.ResourceInfo">
    insert into resource_info (ID, NAME, TYPE, 
      LINK_MAN, LINK_PHONE, LOCATION_X, 
      LOCATION_Y, ADDRESS, NOTE, 
      CREATE_USER_ID, CREATE_ORGAN_ID, CREATE_TIME, 
      LAST_UPDATE_USER_ID, LAST_UPDATE_TIME, ACTIVE
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{linkMan,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, #{locationX,jdbcType=VARCHAR}, 
      #{locationY,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createOrganId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateUserId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=DATE}, #{active,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yf.base.model.resource.ResourceInfo">
    insert into resource_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="linkMan != null">
        LINK_MAN,
      </if>
      <if test="linkPhone != null">
        LINK_PHONE,
      </if>
      <if test="locationX != null">
        LOCATION_X,
      </if>
      <if test="locationY != null">
        LOCATION_Y,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createOrganId != null">
        CREATE_ORGAN_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null">
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createOrganId != null">
        #{createOrganId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=DATE},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yf.base.model.resource.ResourceInfo">
    update resource_info
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null">
        LINK_MAN = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        LINK_PHONE = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        LOCATION_X = #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        LOCATION_Y = #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createOrganId != null">
        CREATE_ORGAN_ID = #{createOrganId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=DATE},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yf.base.model.resource.ResourceInfo">
    update resource_info
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      LINK_MAN = #{linkMan,jdbcType=VARCHAR},
      LINK_PHONE = #{linkPhone,jdbcType=VARCHAR},
      LOCATION_X = #{locationX,jdbcType=VARCHAR},
      LOCATION_Y = #{locationY,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      CREATE_ORGAN_ID = #{createOrganId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=DATE},
      ACTIVE = #{active,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>