.page ul.pages{
display:block;
border:none;
text-transform:uppercase;
font-size:12px;
padding:0;
}

.page ul.pages li{
list-style:none;
float:left;
border:1px solid #E5E5E5;
text-decoration:none;
margin:0 5px 0 0;
padding:5px;
}
.page{
	margin-top: 10px;
    float: right;
}

.page ul.pages li:hover{
border:1px solid #E5E5E5;
    background-color: #5c6bc0;
    color: #fff
}

.page ul.pages li.pgEmpty{
border:1px solid #E5E5E5;
;
}
.page ul li{
	background-color: #fff;
	    color: #0A94DD;
}

.page ul.pages li.pgCurrent{
border:1px solid #E5E5E5;
color:#fff;
font-weight:700;
background-color:#0A94DD;
}

