<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.base.dao.emergency.vo.EmergencyEventProcessVoMapper">

  <resultMap id="BaseResultMap" type="com.yf.base.model.emergency.EmergencyEventProcess">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NODE" jdbcType="VARCHAR" property="node" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ORGAN_ID" jdbcType="INTEGER" property="organId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="SMS" jdbcType="VARCHAR" property="sms" />
    <result column="EVENT_ID" jdbcType="INTEGER" property="eventId" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.yf.base.model.emergency.vo.EmergencyEventProcessVo" extends="BaseResultMap">
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ORGAN_NAME" jdbcType="VARCHAR" property="organName" />
  </resultMap>
  <sql id="Base_Column_List">
    p.ID, p.NODE, p.USER_ID, p.ORGAN_ID, p.CREATE_TIME, p.NOTE, p.SMS, p.EVENT_ID
  </sql>

  <select id="selectByEventId" parameterType="java.lang.Integer" resultMap="VoResultMap">
    select
    u.NAME as USER_NAME,
    o.NAME as ORGAN_NAME,
    <include refid="Base_Column_List" />
    from emergency_event_process p
    left join sys_user u on p.USER_ID = u.ID
    left join sys_organ o on p.ORGAN_ID = o.ID
    where p.EVENT_ID = #{eventId,jdbcType=INTEGER}
  </select>

</mapper>