<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.base.dao.emergency.EmergencyEventMapper">
  <resultMap id="BaseResultMap" type="com.yf.base.model.emergency.EmergencyEvent">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PLAN" jdbcType="VARCHAR" property="plan" />
    <result column="REPORT_NAME" jdbcType="VARCHAR" property="reportName" />
    <result column="REPORT_PHONE" jdbcType="VARCHAR" property="reportPhone" />
    <result column="HAPPEN_TIME" jdbcType="TIMESTAMP" property="happenTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="COMMUNITY" jdbcType="INTEGER" property="community" />
    <result column="GRID" jdbcType="INTEGER" property="grid" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="LONGITUDE" jdbcType="VARCHAR" property="longitude" />
    <result column="LATITUDE" jdbcType="VARCHAR" property="latitude" />
    <result column="LEVEL" jdbcType="VARCHAR" property="level" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_ORGAN_ID" jdbcType="INTEGER" property="createOrganId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="INTEGER" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="ACTIVE" jdbcType="INTEGER" property="active" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, CATEGORY, TYPE, PLAN, REPORT_NAME, REPORT_PHONE, HAPPEN_TIME, END_TIME, 
    COMMUNITY, GRID, ADDRESS, LONGITUDE, LATITUDE, LEVEL, STATUS, CONTENT, NOTE, CREATE_USER_ID, 
    CREATE_ORGAN_ID, CREATE_TIME, LAST_UPDATE_USER_ID, LAST_UPDATE_TIME, ACTIVE, CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emergency_event
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emergency_event
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yf.base.model.emergency.EmergencyEvent">
    insert into emergency_event (ID, NAME, CATEGORY, 
      TYPE, PLAN, REPORT_NAME, 
      REPORT_PHONE, HAPPEN_TIME, END_TIME, 
      COMMUNITY, GRID, ADDRESS, 
      LONGITUDE, LATITUDE, LEVEL, 
      STATUS, CONTENT, NOTE, 
      CREATE_USER_ID, CREATE_ORGAN_ID, CREATE_TIME, 
      LAST_UPDATE_USER_ID, LAST_UPDATE_TIME, ACTIVE, 
      CODE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}, #{reportName,jdbcType=VARCHAR}, 
      #{reportPhone,jdbcType=VARCHAR}, #{happenTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{community,jdbcType=INTEGER}, #{grid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createOrganId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateUserId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{active,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yf.base.model.emergency.EmergencyEvent">
    insert into emergency_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="plan != null">
        PLAN,
      </if>
      <if test="reportName != null">
        REPORT_NAME,
      </if>
      <if test="reportPhone != null">
        REPORT_PHONE,
      </if>
      <if test="happenTime != null">
        HAPPEN_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="community != null">
        COMMUNITY,
      </if>
      <if test="grid != null">
        GRID,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="longitude != null">
        LONGITUDE,
      </if>
      <if test="latitude != null">
        LATITUDE,
      </if>
      <if test="level != null">
        LEVEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createOrganId != null">
        CREATE_ORGAN_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="code != null">
        CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        #{plan,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null">
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportPhone != null">
        #{reportPhone,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null">
        #{happenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="community != null">
        #{community,jdbcType=INTEGER},
      </if>
      <if test="grid != null">
        #{grid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createOrganId != null">
        #{createOrganId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yf.base.model.emergency.EmergencyEvent">
    update emergency_event
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="plan != null">
        PLAN = #{plan,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null">
        REPORT_NAME = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportPhone != null">
        REPORT_PHONE = #{reportPhone,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null">
        HAPPEN_TIME = #{happenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="community != null">
        COMMUNITY = #{community,jdbcType=INTEGER},
      </if>
      <if test="grid != null">
        GRID = #{grid,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        LONGITUDE = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        LATITUDE = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        LEVEL = #{level,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createOrganId != null">
        CREATE_ORGAN_ID = #{createOrganId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yf.base.model.emergency.EmergencyEvent">
    update emergency_event
    set NAME = #{name,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      PLAN = #{plan,jdbcType=VARCHAR},
      REPORT_NAME = #{reportName,jdbcType=VARCHAR},
      REPORT_PHONE = #{reportPhone,jdbcType=VARCHAR},
      HAPPEN_TIME = #{happenTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      COMMUNITY = #{community,jdbcType=INTEGER},
      GRID = #{grid,jdbcType=INTEGER},
      ADDRESS = #{address,jdbcType=VARCHAR},
      LONGITUDE = #{longitude,jdbcType=VARCHAR},
      LATITUDE = #{latitude,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      CREATE_ORGAN_ID = #{createOrganId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      ACTIVE = #{active,jdbcType=INTEGER},
      CODE = #{code,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>