@font-face {
  font-family: 'RZbg';
  src: url('fonts/RZbgqct.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fit {
  width: 100%;
}
.full {
  height: 100%;
}
.cur {
  cursor: pointer;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.text-center {
  text-align: center;
}
.hei-auto {
  height: auto !important;
}
.cl {
  clear: both;
}
.temp {
  width: auto;
  height: auto;
  position: relative;
}
.over-hide {
  overflow: hidden;
}
.over-y {
  overflow-x: hidden;
  overflow-y: auto;
}
.ul-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.ul-flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.txt-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}
.input-DIY {
  -webkit-appearance: none;
  -moz-appearance: normal;
  appearance: none;
}
.cur {
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block !important;
}
.posR {
  position: relative;
}
.posA {
  position: absolute;
}
.trans03 {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
li {
  list-style-type: none;
}
i,
em {
  font-style: normal;
}
html {
  height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, "微软雅黑", "宋体";
  font-size: 16px;
  height: 100vh;
  color: #FFF;
  min-width: 1280px;
}
/* ============首页样式============== */
.main-bg {
  width: 100%;
  height: 100vh;
  background: url(../img/bg.jpg) repeat top left;
}
.left {
  float: left;
  width: calc(100% - 128px);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.left .title {
  width: 100%;
  height: auto;
  min-height: 55px;
  position: relative;
  top: 10%;
  left: 0;
  text-align: center;
}
.left .title > i {
  width: 600px;
  height: 55px;
  background: url(../img/wx_title.png) no-repeat center;
  display: inline-block;
}
.left .content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  top: 5%;
}
.left .content .box {
  float: left;
  width: 30%;
  height: 460px;
  margin: 0;
  padding: 0;
  margin-left: 3.33%;
  margin-top: 10%;
  border: 5px solid #FFC000;
  box-sizing: border-box;
  background-color: #C81D01;
}
.left .content .box:first-child {
  margin-left: calc(3.33% - 40px);
}
.left .content .box .box-title {
  width: auto;
  line-height: 58px;
  padding: 0px 40px 0 20px;
  background-color: #FFC000;
  font-size: 20px;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  position: relative;
  margin-top: 26px;
}
.left .content .box .box-title:after {
  content: "";
  border: 20px solid #FFC000;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  position: absolute;
  right: -19px;
  top: 9px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.left .content .box .box-info {
  width: 100%;
  height: auto;
  padding: 48px;
  box-sizing: border-box;
}
.left .content .box .box-info > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.left .content .box .box-info > ul > li {
  float: left;
  width: 128px;
  height: 128px;
  background-color: #FFC000;
  margin-left: 4%;
  border-radius: 6px;
  margin-bottom: 30px;
}
.left .content .box .box-info > ul > li > i {
  width: 64px;
  height: 64px;
  margin-top: 22px;
  display: inline-block;
}
.left .content .box .box-info > ul > li > span {
  width: 100%;
  line-height: 28px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  display: inline-block;
}
.left .content .box .box-info > ul > li .icon-guanli {
  background: url(../img/guanli.png) no-repeat;
}
.left .content .box .box-info > ul > li .icon-fuwu {
  background: url(../img/fuwu.png) no-repeat;
}
.left .content .box .box-info > ul > li .icon-bianmin {
  background: url(../img/bianmin.png) no-repeat;
}
.left .content .panel {
  width: 100%;
  min-height: 520px;
  height:auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-top: 5%;
}
.left .content .panel .panel-item {
  min-height: 480px;
  height:auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background-color: rgba(200, 29, 1, 0.8);
  border-radius: 10%;
  margin-right: 40px;
  box-shadow: 3px 3px 3px #48301A;
}
.left .content .panel .panel-item .panel-title {
  float:left;
  width: 100%;
  height: 86px;
  line-height: 86px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #F4B900;
  display: inline-block;
}
.left .content .panel .panel-item .panel-info {
  float:left;padding: 0 2em;display:inline-block;
}
.left .content .panel .panel-item .panel-info > ul {
  margin: 0;
  padding: 0;
}
.left .content .panel .panel-item .panel-info > ul > li {
  float: left;
  width: 48%;
  height: 68px;
  line-height: 68px;
  background-color: #FFC000;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  padding: 0 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}
.left .content .panel .panel-item .panel-info > ul > li:hover {
  background-color: #FFEF01;
  color: #D13E1A;
  box-shadow: 3px 3px 3px #48301A;
}
.left .content .panel .panel-item .panel-info > ul > li:hover > a {
  color: #D13E1A;
}
.left .content .panel .panel-item .panel-info > ul > li:hover .panel-logo{
	display:none;
}
.left .content .panel .panel-item .panel-info > ul > li:hover .panel-logo > img {
	display:none;
}
.left .content .panel .panel-item .panel-info > ul > li:hover > a {
	text-indent:0;
}
.left .content .panel .panel-item .panel-info > ul > li > a {
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
  text-indent: 3em;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.left .content .panel .panel-item .panel-info > ul > li .panel-logo {
  width: 68px;
  height: 68px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}
.left .content .panel .panel-item .panel-info > ul > li .panel-logo > img {
  height: 50px;
  margin: 5px auto;
  vertical-align: middle;
}
.right {
  float: right;
  width: 128px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  display:none;
}
.right .logo {
  width: 64px;
  height: 64px;
  margin: 32px 0 0 32px;
}
.right .logo > img {
  width: 64px;
}
.right .menu {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.right .menu > ul {
  margin: 0;
  padding: 0;
}
.right .menu > ul > li {
  width: 100%;
  height: 58px;
  line-height: 58px;
  color: #DDD;
  margin-bottom: 1px;
  text-align: center;
  cursor: pointer;
}
.right .menu > ul > li:hover {
  background-color: rgba(215, 0, 0, 0.9);
  color: #FBF905;
}
.right .menu > ul .actievd {
  background-color: rgba(215, 0, 0, 0.9);
  color: #FBF905;
}
