<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.base.dao.sys.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.yf.base.model.sys.SysConfig">
    <id column="CONFIG_KEY" jdbcType="VARCHAR" property="configKey" />
    <result column="CONFIG_VALUE" jdbcType="VARCHAR" property="configValue" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="PARENT_KEY" jdbcType="VARCHAR" property="parentKey" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="ACTIVE" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    CONFIG_KEY, CONFIG_VALUE, TYPE, TYPE_NAME, PARENT_KEY, SORT, NOTE, ACTIVE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_config
    where CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yf.base.model.sys.SysConfig">
    insert into sys_config (CONFIG_KEY, CONFIG_VALUE, TYPE, 
      TYPE_NAME, PARENT_KEY, SORT, 
      NOTE, ACTIVE)
    values (#{configKey,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{parentKey,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yf.base.model.sys.SysConfig">
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configKey != null">
        CONFIG_KEY,
      </if>
      <if test="configValue != null">
        CONFIG_VALUE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="parentKey != null">
        PARENT_KEY,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configKey != null">
        #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null">
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentKey != null">
        #{parentKey,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yf.base.model.sys.SysConfig">
    update sys_config
    <set>
      <if test="configValue != null">
        CONFIG_VALUE = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentKey != null">
        PARENT_KEY = #{parentKey,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yf.base.model.sys.SysConfig">
    update sys_config
    set CONFIG_VALUE = #{configValue,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      PARENT_KEY = #{parentKey,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      NOTE = #{note,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=INTEGER}
    where CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
  </update>
</mapper>